.asd {
	width: 400px;
	position: relative;
	left: 670px;
	top: 220px;
}

#asdd {
	position: relative;
	width: 500px;
	left: 620px;
	top: 230px;
	border-style: solid;
	border-width: 2px;
	padding: 10px 10px 10px;

}

#asddd {
	width: 140px;
	top: 300px;
	position: relative;
	left: 200px;
	border-style: solid;
	border-width: 8px;
	font-family: Arial;
	height: 36px;
}
#asdddd {
	width: 180px;
	top: 300px;
	position: relative;
	left: 230px;
	border-style: solid;
	border-width: 8px;
	font-family: Arial;
	height: 36px;
}

.right-icons {
	font-size: 13px;
	text-align: right;
	list-style-type: none;
	float: right;
	margin-top: 1px;
}

a {
	display: inline-block;
	text-decoration: none;
}
.right-icons li {
    float: right;
    margin: 10px;
    padding-left: 8px;
}
ul {
	padding-top: 10px;
	padding-right: 70px;
}
.icons {
	width: 17px;
}
.sign-in {
	background-color: #619bff;
	font-weight: bold;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	margin: -10px;
	text-align: center;
}